


<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="container-fluid signup_form auth_form fos_user_registration_register ">
    <div class="form-inner row">
        <div class="form-header row m0">
            <a href="index-2.html"><img src="{{ asset('images/logo.png') }}" alt=""></a>
            <h4>Sign up for Perspective Account</h4>
        </div>

        <div class="form-body row m0">
            <div id="affiche_user" style="margin-bottom:10px;" class="text-center">www.perspective.dridilotfi.com/<b style='color:red;font-size:10px; ;
            '>(Your Username)</b></div>
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_errors(form.username) }}
                    {{ form_widget(form.username, {'id': 'input_user'}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first) }}
                </div>
                <div class="form-group">
                    {{ form_widget(form.plainPassword.second) }}
                </div>
                <div>
                    <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-default form-control"/>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</form>

{% block javascript %}

{% endblock %}
